services:
  - type: web
    name: dungeon-backend
    env: node
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: node dist/server.js
    autoDeploy: true
    plan: free

  - type: web
    name: dungeon-frontend
    env: static
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: ../backend/public
    autoDeploy: true
    plan: free
